.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  margin: 0;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.question {
  font-size: calc(11px + 1vmin);
  font-weight: 600;
  
}
.answer {
  margin-left: 2%

}
.about {
  font-size: calc(8px + 1vmin);
  font-weight: 400;
}

h1 {
  font-size: calc(68px * 1vmin);
}
h1.title-urban {
  font-weight: 300;
  display: inline;
  font-size: 2.0em;
}
h1.title-suburban {
  font-weight: "700";
  display: inline;
  color: #ff4f38;
  font-size: 2.0em;
}
h3.description {
  font-weight: 300;
  text-align: center;
}
span.text-red-em {
  color: #ff4f38;
  font-weight: 400;
}
span.text-black-em {
  color: #000000;
  font-weight: 400;
}
div.about {
  background-color: rgba(255,255,255,.8);
  border-radius: 4px;
  padding: 1vw;
  border: 0.5px solid #dbdbdb;
}
div.bg-image {
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;
}
.call-to-action {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 8% 1% 0 1%;
  display: float;
}
.address-search-container{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0% 0 0 0;
  display: float;
}
.location-search-input,
.location-search-input:focus,
.location-search-input:active {
  font-size: 16px;
}

.autocomplete-dropdown-container {
  font-size: 16px;
  font-weight: 400;
  z-index: 1000;
}
